<div class="modal-content" [ngBusy]="busy">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Login/Register</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      Hellooooooo
    </div>
    <div class="modal-footer">
      <div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg col-md-5"><span class="ladda-label"><i class="fa fa-envelope"></i>  Submit</span></button>
        <button type="submit" (click)="onClose()" class="btn btn-primary btn-lg col-md-5" style="float: right;">Cancel</button>
      </div>
    </div>
  </div>
</div>
